{% extends 'base.html' %}
{% load static %}
{% block 'body' %}
   
    <div class="filter-pro">
     <a href="filter.html"> <input type="button" value="Filter products"></a>
    </div>

    <div class="clip-path mt-4 mb-4">
     <center> <h1> Our Sports </h1></center>
    </div> 
    <section>
      <div class="container">
        <div class="card">
          <div class="aakanksha_img">
            <a href="/sports_acces.html"> <img src="{% static '/Images/banner/img-1.jpg' %}" alt=""></a>
          </div>
          <div class="content">
        <a href="/sports_acces.html"> <h2>Sports Accesories</h2></a>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, nemo vero beatae 
              accusamus blanditiis modi adipisci aliquid eum voluptatem natus.</p>
          </div>
        </div>
        <div class="card">
          <div class="aakanksha_img">
            <a href="/sports_events.html">  <img src="{% static '/Images/banner/img-2.jpg' %}" alt=""> </a>
          </div>
          <div class="content">
          <a href="/sports_events.html">  <h2>Sports Events</h2> </a>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, nemo vero beatae 
              accusamus blanditiis modi adipisci aliquid eum voluptatem natus.</p>
          </div>
        </div>
        <div class="card">
          <div class="aakanksha_img">
            <a href="/sports_store.html">  <img src="{% static '/Images/store/shop 1.jpg' %}" alt="">  </a>
          </div>
          <div class="content">
            <a href="/sports_store.html"> <h2>Sports Store</h2> </a>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, nemo vero beatae 
              accusamus blanditiis modi adipisci aliquid eum voluptatem natus.</p>
          </div>
        </div>
      </div>
    </section>
    


   
    <section>
      <div class="container">
        <div class="owl-carousel ">
          <div class="sports_brands">
            <div class="clip-path">
              <h1>Sports Brands</h1>
            </div>           
            <div class="_card ">
              <div class="card_pro">
                <img src="{% static '/Images/banner/shoes-2.jpg' %}" alt="">
                <div class="overlay-right">
                  <button type="button" class="btn btn-secondary " title="Quick Shop">
                      <i class="fa fa-eye"></i>
                  </button>
                  <button type="button" class="btn btn-secondary " title="Add to Wishlist">
                      <i class="fa fa-heart-o"></i>
                  </button>
                  <button type="button" class="btn btn-secondary " title="Add to Cart">
                      <i class="fa fa-shopping-cart"></i>
                  </button>
              </div>
                <div class="product-bottom text-center">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-half-o"></i>
                  <h3> <a href="./product.html"> Action Shoes</a></h3>
                  <h5>$ 70.00</h5>
              </div>
              </div>
            </div>
          
            
            <div class="_card ">
              <div class="card_pro">
                <img src="{% static '/Images/banner/img-2.jpg' %}" alt="">
                <div class="overlay-right">
                  <button type="button" class="btn btn-secondary " title="Quick Shop">
                      <i class="fa fa-eye"></i>
                  </button>
                  <button type="button" class="btn btn-secondary " title="Add to Wishlist">
                      <i class="fa fa-heart-o"></i>
                  </button>
                  <button type="button" class="btn btn-secondary " title="Add to Cart">
                      <i class="fa fa-shopping-cart"></i>
                  </button>
              </div>
                <div class="product-bottom text-center">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-half-o"></i>
                  <h3>Action Shoes</h3>
                  <h5>$ 70.00</h5>
              </div>
            </div>
            </div>
            <div class="_card ">
              <div class="card_pro">
                <img src="{% static '/Images/banner/img-5.jpg' %}" alt="">
                <div class="overlay-right">
                  <button type="button" class="btn btn-secondary " title="Quick Shop">
                      <i class="fa fa-eye"></i>
                  </button>
                  <button type="button" class="btn btn-secondary " title="Add to Wishlist">
                      <i class="fa fa-heart-o"></i>
                  </button>
                  <button type="button" class="btn btn-secondary " title="Add to Cart">
                      <i class="fa fa-shopping-cart"></i>
                  </button>
              </div>
                <div class="product-bottom text-center">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-half-o"></i>
                  <h3>Action Shoes</h3>
                  <h5>$ 70.00</h5>
              </div>
            </div>
          </div>
            <div class="_card ">
              <div class="card_pro">
                <img src="{% static '/Images/banner/img-4.jpg' %}" alt="">
                <div class="overlay-right">
                  <button type="button" class="btn btn-secondary " title="Quick Shop">
                      <i class="fa fa-eye"></i>
                  </button>
                  <button type="button" class="btn btn-secondary " title="Add to Wishlist">
                      <i class="fa fa-heart-o"></i>
                  </button>
                  <button type="button" class="btn btn-secondary " title="Add to Cart">
                      <i class="fa fa-shopping-cart"></i>
                  </button>
              </div>
                <div class="product-bottom text-center">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-half-o"></i>
                  <h3>Action Shoes</h3>
                  <h5>$ 70.00</h5>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="owl-carousel ">
          <div class="sports_brands">
            <div class="clip-path">
              <h1>Featured Sports Accesories</h1>
            </div> 
            <div class="_card ">
              <div class="card_pro">
                <img src="{% static '/Images/banner/img-1.jpg' %}" alt="">
                <div class="overlay-right">
                  <button type="button" class="btn btn-secondary " title="Quick Shop">
                      <i class="fa fa-eye"></i>
                  </button>
                  <button type="button" class="btn btn-secondary " title="Add to Wishlist">
                      <i class="fa fa-heart-o"></i>
                  </button>
                  <button type="button" class="btn btn-secondary " title="Add to Cart">
                      <i class="fa fa-shopping-cart"></i>
                  </button>
              </div>
                <div class="product-bottom text-center">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-half-o"></i>
                  <h3>Action Shoes</h3>
                  <h5>$ 70.00</h5>
              </div>
              </div>
            </div>
          
            
            <div class="_card ">
              <div class="card_pro">
                <img src="{% static '/Images/banner/img-2.jpg' %}" alt="">
                <div class="overlay-right">
                  <button type="button" class="btn btn-secondary " title="Quick Shop">
                      <i class="fa fa-eye"></i>
                  </button>
                  <button type="button" class="btn btn-secondary " title="Add to Wishlist">
                      <i class="fa fa-heart-o"></i>
                  </button>
                  <button type="button" class="btn btn-secondary " title="Add to Cart">
                      <i class="fa fa-shopping-cart"></i>
                  </button>
              </div>
                <div class="product-bottom text-center">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-half-o"></i>
                  <h3>Action Shoes</h3>
                  <h5>$ 70.00</h5>
              </div>
            </div>
            </div>
            <div class="_card ">
              <div class="card_pro">
                <img src="{% static '/Images/banner/img-5.jpg' %}" alt="">
                <div class="overlay-right">
                  <button type="button" class="btn btn-secondary " title="Quick Shop">
                      <i class="fa fa-eye"></i>
                  </button>
                  <button type="button" class="btn btn-secondary " title="Add to Wishlist">
                      <i class="fa fa-heart-o"></i>
                  </button>
                  <button type="button" class="btn btn-secondary " title="Add to Cart">
                      <i class="fa fa-shopping-cart"></i>
                  </button>
              </div>
                <div class="product-bottom text-center">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-half-o"></i>
                  <h3>Action Shoes</h3>
                  <h5>$ 70.00</h5>
              </div>
            </div>
          </div>
            <div class="_card ">
              <div class="card_pro">
                <img src="{% static '/Images/banner/img-4.jpg' %}" alt="">
                <div class="overlay-right">
                  <button type="button" class="btn btn-secondary " title="Quick Shop">
                      <i class="fa fa-eye"></i>
                  </button>
                  <button type="button" class="btn btn-secondary " title="Add to Wishlist">
                      <i class="fa fa-heart-o"></i>
                  </button>
                  <button type="button" class="btn btn-secondary " title="Add to Cart">
                      <i class="fa fa-shopping-cart"></i>
                  </button>
              </div>
                <div class="product-bottom text-center">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-half-o"></i>
                  <h3>Action Shoes</h3>
                  <h5>$ 70.00</h5>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="owl-carousel ">
          <div class="sports_brands">
            <div class="clip-path">
              <h1>Indore Specific Product</h1>
            </div> 
            <div class="_card ">
              <div class="card_pro">
                <img src="{% static '/Images/banner/img-1.jpg' %}" alt="">
                <div class="overlay-right">
                  <button type="button" class="btn btn-secondary " title="Quick Shop">
                      <i class="fa fa-eye"></i>
                  </button>
                  <button type="button" class="btn btn-secondary " title="Add to Wishlist">
                      <i class="fa fa-heart-o"></i>
                  </button>
                  <button type="button" class="btn btn-secondary " title="Add to Cart">
                      <i class="fa fa-shopping-cart"></i>
                  </button>
              </div>
                <div class="product-bottom text-center">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-half-o"></i>
                  <h3>Action Shoes</h3>
                  <h5>$ 70.00</h5>
              </div>
              </div>
            </div>
          
            
            <div class="_card ">
              <div class="card_pro">
                <img src="{% static '/Images/banner/img-2.jpg' %}" alt="">
                <div class="overlay-right">
                  <button type="button" class="btn btn-secondary " title="Quick Shop">
                      <i class="fa fa-eye"></i>
                  </button>
                  <button type="button" class="btn btn-secondary " title="Add to Wishlist">
                      <i class="fa fa-heart-o"></i>
                  </button>
                  <button type="button" class="btn btn-secondary " title="Add to Cart">
                      <i class="fa fa-shopping-cart"></i>
                  </button>
              </div>
                <div class="product-bottom text-center">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-half-o"></i>
                  <h3>Action Shoes</h3>
                  <h5>$ 70.00</h5>
              </div>
            </div>
            </div>
            <div class="_card ">
              <div class="card_pro">
                <img src="https://images.ctfassets.net/3s5io6mnxfqz/wfAz3zUBbrcf1eSMLZi8u/c03ac28c778813bd72373644ee8b8b02/AdobeStock_364059453.jpeg?fm=jpg&w=900&fl=progressive" alt="">
                <div class="overlay-right">
                  <button type="button" class="btn btn-secondary " title="Quick Shop">
                      <i class="fa fa-eye"></i>
                  </button>
                  <button type="button" class="btn btn-secondary " title="Add to Wishlist">
                      <i class="fa fa-heart-o"></i>
                  </button>
                  <button type="button" class="btn btn-secondary " title="Add to Cart">
                      <i class="fa fa-shopping-cart"></i>
                  </button>
              </div>
                <div class="product-bottom text-center">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-half-o"></i>
                  <h3>Action Shoes</h3>
                  <h5>$ 70.00</h5>
              </div>
            </div>
          </div>
            <div class="_card ">
              <div class="card_pro">
                <img src="https://cdn3.volusion.com/s2mhx.7dfsu/v/vspfiles/photos/RACKET-DUNLOP-EVO-CARBON-2.jpg?v-cache=1538582994" alt="">
                <div class="overlay-right">
                  <button type="button" class="btn btn-secondary " title="Quick Shop">
                      <i class="fa fa-eye"></i>
                  </button>
                  <button type="button" class="btn btn-secondary " title="Add to Wishlist">
                      <i class="fa fa-heart-o"></i>
                  </button>
                  <button type="button" class="btn btn-secondary " title="Add to Cart">
                      <i class="fa fa-shopping-cart"></i>
                  </button>
              </div>
                <div class="product-bottom text-center">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-half-o"></i>
                  <h3>Action Shoes</h3>
                  <h5>$ 70.00</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
  
    </section>
    {% endblock %}
